data/external_corpus/hupd/
benchmark/chameleon/logs/
benchmark/chameleon/run/results/final_raw/
benchmark/chameleon/run/results/*.json
benchmark/chameleon/run/results/*.jsonl
benchmark/chameleon/run/results/current/
benchmark/chameleon/run/tools/temp/
benchmark/chameleon/run/scripts/